html,body{
		
	width:100%;
	margin:0;
	padding:0;

}

.space{
	width:100%;
	display:flex;
	align-items: center;
	height: 100vh;
}

.container{
	border:solid 2px blue;
	margin: auto;
	width:90vmin;
	height:90vmin;
	display:grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 40% 60%;
}

#trigonometric{
	border:solid blue 1px;
	width: 100%;
	height:100%;
	background-color:transparent;
	grid-column: 1/2;
	grid-row: 1/2;
	
}

#circumference{
	border:solid 1px purple;
	width: 100%;
	height:100%;
	background-color:transparent;
	grid-column: 1/2;
	grid-row: 1/2;
}



#sin{
	border: solid orange 1px;
	width:100%;
	height:100%;
}

#cos{
	border: solid orange 1px;
	width:100%;
	height:100%;
}

.buttonsContainer{
	z-index:2;
	border:solid 2px lime;
}


